In [3]:
import pandas as pd
import warnings

In [5]:
df = pd.read_csv("Imdb_Movie_Dataset.csv")
pd.set_option('display.max_columns', 100)

In [6]:
warnings.filterwarnings('ignore')

In [7]:
#df.head()
df.shape

(1048575, 21)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1048575 non-null  int64
 1   title                 1048562 non-null  object
 2   vote_average          1048575 non-null  float64
 3   vote_count            1048575 non-null  int64
 4   status                1048575 non-null  object
 5   release_date          866758 non-null   object
 6   revenue               1048575 non-null  int64
 7   runtime               1048575 non-null  int64
 8   adult                 1048575 non-null  bool
 9   budget                1048575 non-null  int64
 10  imdb_id               560572 non-null   object
 11  original_language     1048575 non-null  object
 12  original_title        1048562 non-null  object
 13  overview              832751 non-null   object
 14  popularity            1048575 non-null  float64
 15  tagline               152728 non-null   object
 16  genres                633603 non-null   object
 17  production_companies  480147 non-null   object
 18  production_countries  585078 non-null   object
 19  spoken_languages      607913 non-null   object
 20  keywords              292621 non-null   object
dtypes: bool(1), float64(2), int64(5), object(13)
memory usage: 161.0+ MB

In [9]:
df.describe(include="all")

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,imdb_id,original_language,original_title,overview,popularity,tagline,genres,production_companies,production_countries,spoken_languages,keywords
count,1.048575e+06,1048562,1.048575e+06,1.048575e+06,1048575,866758,1.048575e+06,1.048575e+06,1048575,1.048575e+06,560572,1048575,1048562,832751,1.048575e+06,152728,633603,480147,585078,607913,292621
unique,NaN,903262,NaN,NaN,6,42375,NaN,NaN,2,NaN,559319,172,933950,808624,NaN,146892,13117,197343,9723,6839,170704
top,NaN,Home,NaN,NaN,Released,1/1/2006,NaN,NaN,False,NaN,tt32094375,en,Untitled,,NaN,English,Documentary,Evil Angel,United States of America,English,short film
freq,NaN,143,NaN,NaN,1022770,3202,NaN,NaN,951555,NaN,64,566257,95,1136,NaN,224,120668,2591,166444,220788,9228
mean,7.546888e+05,NaN,2.041560e+00,2.045584e+01,NaN,NaN,7.604112e+05,4.822610e+01,NaN,2.913232e+05,NaN,NaN,NaN,NaN,1.276393e+00,NaN,NaN,NaN,NaN,NaN,NaN
std,4.207457e+05,NaN,3.097234e+00,3.315669e+02,NaN,NaN,1.944925e+07,6.057823e+01,NaN,5.319290e+06,NaN,NaN,NaN,NaN,7.889555e+00,NaN,NaN,NaN,NaN,NaN,NaN
min,2.000000e+00,NaN,0.000000e+00,0.000000e+00,NaN,NaN,-1.200000e+01,-2.800000e+01,NaN,0.000000e+00,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
25%,3.846625e+05,NaN,0.000000e+00,0.000000e+00,NaN,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,NaN,6.000000e-01,NaN,NaN,NaN,NaN,NaN,NaN
50%,8.183790e+05,NaN,0.000000e+00,0.000000e+00,NaN,NaN,0.000000e+00,2.300000e+01,NaN,0.000000e+00,NaN,NaN,NaN,NaN,6.000000e-01,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.140640e+06,NaN,5.000000e+00,1.000000e+00,NaN,NaN,0.000000e+00,8.900000e+01,NaN,0.000000e+00,NaN,NaN,NaN,NaN,9.170000e-01,NaN,NaN,NaN,NaN,NaN,NaN
max,1.411041e+06,NaN,1.000000e+01,3.449500e+04,NaN,NaN,5.000000e+09,1.440000e+04,NaN,1.000000e+09,NaN,NaN,NaN,NaN,2.994357e+03,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df[df['title'].isnull()]

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,imdb_id,original_language,original_title,overview,popularity,tagline,genres,production_companies,production_countries,spoken_languages,keywords
420443,1104880,NaN,0.0,0,Canceled,NaN,0,0,False,0,NaN,en,NaN,NaN,0.600,NaN,"Horror, Mystery, Thriller",NaN,United States of America,English,NaN
422489,1120517,NaN,0.0,0,Released,3/2/2008,0,0,False,0,NaN,en,NaN,NaN,0.600,NaN,Documentary,NaN,United States of America,NaN,NaN
538564,1328667,NaN,0.0,0,Released,NaN,0,0,False,0,NaN,en,NaN,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN
662975,1158567,NaN,0.0,0,Released,NaN,0,0,False,0,NaN,en,NaN,NaN,0.600,NaN,NaN,NaN,NaN,NaN,NaN
665173,1161361,NaN,0.0,0,Released,NaN,0,3,True,0,NaN,en,NaN,"“My Body, My Rules, and Them” is an exploratio...",0.750,NaN,NaN,NaN,NaN,NaN,gawad alternatibo
666389,1161605,NaN,0.0,0,Released,5/21/2021,0,10,False,0,NaN,en,NaN,A hitman is tasked to take out ex-mobsters whe...,0.861,NaN,NaN,NaN,NaN,NaN,NaN
710254,1225818,NaN,0.0,0,Released,NaN,0,8,False,0,NaN,en,NaN,"In this directorial debut of Eden Ewardson, he...",0.000,NaN,NaN,NaN,NaN,Burmese,NaN
761078,518061,NaN,0.0,0,Released,1/1/2015,0,4,False,0,NaN,en,NaN,NONE is a short film that explores the balance...,0.600,NaN,Animation,NaN,NaN,No Language,NaN
845659,276521,NaN,0.0,0,Released,6/13/2014,0,0,False,0,NaN,en,NaN,NaN,0.600,NaN,NaN,NaN,NaN,NaN,NaN
995559,819411,NaN,0.0,0,Released,NaN,0,90,False,0,NaN,en,NaN,NaN,0.600,NaN,NaN,NaN,NaN,NaN,NaN
1000937,931166,NaN,0.0,0,Released,NaN,0,0,False,0,NaN,en,NaN,NaN,0.600,NaN,Documentary,NaN,NaN,NaN,NaN
1000940,931169,NaN,0.0,0,Released,NaN,0,0,False,0,NaN,en,NaN,NaN,0.600,NaN,NaN,NaN,NaN,NaN,NaN
1015311,949520,NaN,0.0,0,Post Production,NaN,0,0,False,0,NaN,en,NaN,NaN,0.600,NaN,Science Fiction,NaN,United States of America,English,NaN

In [19]:
df[df['title'].isnull()]

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,imdb_id,original_language,original_title,overview,popularity,tagline,genres,production_companies,production_countries,spoken_languages,keywords
420443,1104880,NaN,0.0,0,Canceled,NaN,0,0,False,0,NaN,en,NaN,NaN,0.600,NaN,"Horror, Mystery, Thriller",NaN,United States of America,English,NaN
422489,1120517,NaN,0.0,0,Released,3/2/2008,0,0,False,0,NaN,en,NaN,NaN,0.600,NaN,Documentary,NaN,United States of America,NaN,NaN
538564,1328667,NaN,0.0,0,Released,NaN,0,0,False,0,NaN,en,NaN,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN
662975,1158567,NaN,0.0,0,Released,NaN,0,0,False,0,NaN,en,NaN,NaN,0.600,NaN,NaN,NaN,NaN,NaN,NaN
665173,1161361,NaN,0.0,0,Released,NaN,0,3,True,0,NaN,en,NaN,"“My Body, My Rules, and Them” is an exploratio...",0.750,NaN,NaN,NaN,NaN,NaN,gawad alternatibo
666389,1161605,NaN,0.0,0,Released,5/21/2021,0,10,False,0,NaN,en,NaN,A hitman is tasked to take out ex-mobsters whe...,0.861,NaN,NaN,NaN,NaN,NaN,NaN
710254,1225818,NaN,0.0,0,Released,NaN,0,8,False,0,NaN,en,NaN,"In this directorial debut of Eden Ewardson, he...",0.000,NaN,NaN,NaN,NaN,Burmese,NaN
761078,518061,NaN,0.0,0,Released,1/1/2015,0,4,False,0,NaN,en,NaN,NONE is a short film that explores the balance...,0.600,NaN,Animation,NaN,NaN,No Language,NaN
845659,276521,NaN,0.0,0,Released,6/13/2014,0,0,False,0,NaN,en,NaN,NaN,0.600,NaN,NaN,NaN,NaN,NaN,NaN
995559,819411,NaN,0.0,0,Released,NaN,0,90,False,0,NaN,en,NaN,NaN,0.600,NaN,NaN,NaN,NaN,NaN,NaN
1000937,931166,NaN,0.0,0,Released,NaN,0,0,False,0,NaN,en,NaN,NaN,0.600,NaN,Documentary,NaN,NaN,NaN,NaN
1000940,931169,NaN,0.0,0,Released,NaN,0,0,False,0,NaN,en,NaN,NaN,0.600,NaN,NaN,NaN,NaN,NaN,NaN
1015311,949520,NaN,0.0,0,Post Production,NaN,0,0,False,0,NaN,en,NaN,NaN,0.600,NaN,Science Fiction,NaN,United States of America,English,NaN

In [25]:
movies = df[df['title'].notna()]

In [44]:
movies.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,imdb_id,original_language,original_title,overview,popularity,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,7/15/2010,825532764,148,False,160000000,tt1375666,en,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,11/5/2014,701729206,169,False,165000000,tt0816692,en,Interstellar,The adventures of a group of explorers who mak...,140.241,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,7/16/2008,1004558444,152,False,185000000,tt0468569,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,12/15/2009,2923706026,162,False,237000000,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,4/25/2012,1518815515,143,False,220000000,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,98.082,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [42]:
movies.isnull().sum()

id                           0
title                        0
vote_average                 0
vote_count                   0
status                       0
release_date            181808
revenue                      0
runtime                      0
adult                        0
budget                       0
imdb_id                 487990
original_language            0
original_title               0
overview                215815
popularity                   0
tagline                 895834
genres                  414964
production_companies    568415
production_countries    463487
spoken_languages        440653
keywords                755942
dtype: int64

In [50]:
movies[movies['production_countries'].isnull()]

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,imdb_id,original_language,original_title,overview,popularity,tagline,genres,production_companies,production_countries,spoken_languages,keywords
813,27576,Salt,6.398,5109,Released,7/21/2010,293329073,100,False,110000000,tt0944835,en,Salt,"As a CIA officer, Evelyn Salt swore an oath to...",31.472,Who is Salt?,"Action, Mystery, Thriller","Wintergreen Productions, Columbia Pictures, Re...",NaN,"English, Russian, Korean","race against time, cia, assassination, espiona..."
2833,724089,Gabriel's Inferno: Part II,8.424,1484,Released,7/31/2020,0,105,False,0,tt13535454,en,Gabriel's Inferno: Part II,Professor Gabriel Emerson finally learns the t...,30.398,NaN,"Romance, Drama",PassionFlix,NaN,NaN,based on novel or book
5531,836466,Return,6.291,619,Released,6/10/2020,0,12,False,0,NaN,en,Return,A single man has worked most of his life in a ...,7.915,NaN,Animation,NaN,NaN,NaN,NaN
6010,320367,Return,6.223,551,Released,1/1/2015,0,0,False,0,tt4299612,en,Return,A tale of terror. Cathy Reed has been institut...,4.037,NaN,NaN,NaN,NaN,NaN,NaN
6537,416494,Status Update,7.378,487,Released,2/9/2018,0,106,False,0,tt5692390,en,Status Update,After being uprooted by his parents' separatio...,22.391,Imagine if every time you updated your status ...,"Comedy, Fantasy, Science Fiction",NaN,NaN,English,"high school, social media, divorced parents"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,905156,鐨勯鏍肩殑椋庢牸儇妒呢蛹刹偎头,0.000,0,Released,NaN,0,0,False,0,NaN,zh,鐨勯鏍肩殑椋庢牸儇妒呢蛹刹偎头,NaN,0.600,NaN,NaN,NaN,NaN,NaN,NaN
1048571,905157,MILF & Cookies 3,0.000,0,Released,NaN,0,0,True,0,NaN,en,MILF & Cookies 3,NaN,0.600,NaN,NaN,NaN,NaN,NaN,NaN
1048572,905158,The Choice of Staying,0.000,0,Released,10/8/2020,0,0,False,0,tt13925132,it,The Choice of Staying,NaN,0.600,NaN,Documentary,NaN,NaN,"English, Italian, Swedish",NaN
1048573,905161,Luisa Schluckt Schon Wieder,0.000,0,Released,5/13/2016,0,0,True,0,NaN,de,Luisa Schluckt Schon Wieder,NaN,0.600,NaN,NaN,John Thompson Productions,NaN,NaN,NaN
1048574,905163,Little White Slave Girls 8,0.000,0,Released,NaN,0,0,True,0,NaN,en,Little White Slave Girls 8,NaN,0.600,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
movies[movies['budget'] == 0].shape

(991794, 21)

In [66]:
movies[movies['budget'] == 0]

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,imdb_id,original_language,original_title,overview,popularity,tagline,genres,production_companies,production_countries,spoken_languages,keywords
258,372058,Your Name.,8.514,10303,Released,8/26/2016,357986087,106,False,0,tt5311514,ja,君の名は。,High schoolers Mitsuha and Taki are complete s...,68.999,It was almost like seeing something out of a d...,"Romance, Animation, Drama","CoMix Wave Films, TOHO, KADOKAWA, East Japan M...",Japan,Japanese,"race against time, afterlife, natural disaster..."
375,664413,365 Days,7.063,8429,Released,2/7/2020,9458590,116,False,0,tt10886166,pl,365 dni,"A woman falls victim to a dominant mafia boss,...",32.781,NaN,"Romance, Drama","Ekipa, Future Space, Next Film, TVN Group",Poland,"English, French, Italian, Polish","kidnapping, gangster, yacht, nightclub, mansio..."
395,466282,To All the Boys I've Loved Before,7.642,8045,Released,8/16/2018,0,100,False,0,tt3846674,en,To All the Boys I've Loved Before,Lara Jean's love life goes from imaginary to o...,38.926,The letters are out.,"Comedy, Romance","Awesomeness Films, Overbrook Entertainment",United States of America,English,"high school, based on novel or book, love lett..."
509,454983,The Kissing Booth,7.229,6926,Released,5/11/2018,0,105,False,0,tt3799232,en,The Kissing Booth,When teenager Elle's first kiss leads to a for...,36.649,"She can tell her best friend anything, except ...","Romance, Comedy",Komixx Entertainment,United Kingdom,English,"based on novel or book, crush, los angeles, ca..."
652,200727,"Love, Rosie",7.837,5918,Released,10/16/2014,4439431,102,False,0,tt1638002,en,"Love, Rosie","Since the moment they met at age 5, Rosie and ...",29.428,Right Love. Wrong Time.,"Romance, Drama, Comedy","Constantin Film, Octagon Films, Canyon Creek F...","Belgium, Canada, Germany, Ireland, United Kingdom",English,"friendship, based on novel or book, love, best..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,905156,鐨勯鏍肩殑椋庢牸儇妒呢蛹刹偎头,0.000,0,Released,NaN,0,0,False,0,NaN,zh,鐨勯鏍肩殑椋庢牸儇妒呢蛹刹偎头,NaN,0.600,NaN,NaN,NaN,NaN,NaN,NaN
1048571,905157,MILF & Cookies 3,0.000,0,Released,NaN,0,0,True,0,NaN,en,MILF & Cookies 3,NaN,0.600,NaN,NaN,NaN,NaN,NaN,NaN
1048572,905158,The Choice of Staying,0.000,0,Released,10/8/2020,0,0,False,0,tt13925132,it,The Choice of Staying,NaN,0.600,NaN,Documentary,NaN,NaN,"English, Italian, Swedish",NaN
1048573,905161,Luisa Schluckt Schon Wieder,0.000,0,Released,5/13/2016,0,0,True,0,NaN,de,Luisa Schluckt Schon Wieder,NaN,0.600,NaN,NaN,John Thompson Productions,NaN,NaN,NaN
1048574,905163,Little White Slave Girls 8,0.000,0,Released,NaN,0,0,True,0,NaN,en,Little White Slave Girls 8,NaN,0.600,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
movies[movies['revenue'] == 0]

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,imdb_id,original_language,original_title,overview,popularity,tagline,genres,production_companies,production_countries,spoken_languages,keywords
325,405774,Bird Box,6.854,9227,Released,12/13/2018,0,124,False,19800000,tt2737304,en,Bird Box,Five years after an ominous unseen presence dr...,27.913,Never lose sight of survival,"Horror, Thriller, Drama","Bluegrass Films, Chris Morgan Productions",United States of America,English,"based on novel or book, post-apocalyptic futur..."
328,791373,Zack Snyder's Justice League,8.190,9202,Released,3/18/2021,0,242,False,70000000,tt12361974,en,Zack Snyder's Justice League,Determined to ensure Superman's ultimate sacri...,130.690,Us united.,"Action, Adventure, Fantasy","Warner Bros. Pictures, The Stone Quarry, Atlas...",United States of America,English,"saving the world, superhero, resurrection, bas..."
395,466282,To All the Boys I've Loved Before,7.642,8045,Released,8/16/2018,0,100,False,0,tt3846674,en,To All the Boys I've Loved Before,Lara Jean's love life goes from imaginary to o...,38.926,The letters are out.,"Comedy, Romance","Awesomeness Films, Overbrook Entertainment",United States of America,English,"high school, based on novel or book, love lett..."
509,454983,The Kissing Booth,7.229,6926,Released,5/11/2018,0,105,False,0,tt3799232,en,The Kissing Booth,When teenager Elle's first kiss leads to a for...,36.649,"She can tell her best friend anything, except ...","Romance, Comedy",Komixx Entertainment,United Kingdom,English,"based on novel or book, crush, los angeles, ca..."
670,766507,Prey,7.762,5821,Released,8/2/2022,0,100,False,65000000,tt11866324,en,Prey,"When danger threatens her camp, the fierce and...",154.579,They hunt to live. It lives to hunt.,"Thriller, Action, Science Fiction",20th Century Studios,United States of America,"English, French","hunter, native american, alien life-form, alie..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,905156,鐨勯鏍肩殑椋庢牸儇妒呢蛹刹偎头,0.000,0,Released,NaN,0,0,False,0,NaN,zh,鐨勯鏍肩殑椋庢牸儇妒呢蛹刹偎头,NaN,0.600,NaN,NaN,NaN,NaN,NaN,NaN
1048571,905157,MILF & Cookies 3,0.000,0,Released,NaN,0,0,True,0,NaN,en,MILF & Cookies 3,NaN,0.600,NaN,NaN,NaN,NaN,NaN,NaN
1048572,905158,The Choice of Staying,0.000,0,Released,10/8/2020,0,0,False,0,tt13925132,it,The Choice of Staying,NaN,0.600,NaN,Documentary,NaN,NaN,"English, Italian, Swedish",NaN
1048573,905161,Luisa Schluckt Schon Wieder,0.000,0,Released,5/13/2016,0,0,True,0,NaN,de,Luisa Schluckt Schon Wieder,NaN,0.600,NaN,NaN,John Thompson Productions,NaN,NaN,NaN
1048574,905163,Little White Slave Girls 8,0.000,0,Released,NaN,0,0,True,0,NaN,en,Little White Slave Girls 8,NaN,0.600,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
movies['budget_millions'] = round(movies['budget']/1000000,2)

In [78]:
movies['revenue_millions'] = round(movies['revenue']/1000000,2)

In [80]:
movies.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,imdb_id,original_language,original_title,overview,popularity,tagline,genres,production_companies,production_countries,spoken_languages,keywords,budget_millions,revenue_millions
0,27205,Inception,8.364,34495,Released,7/15/2010,825532764,148,False,160000000,tt1375666,en,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc...",160.0,825.53
1,157336,Interstellar,8.417,32571,Released,11/5/2014,701729206,169,False,165000000,tt0816692,en,Interstellar,The adventures of a group of explorers who mak...,140.241,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,...",165.0,701.73
2,155,The Dark Knight,8.512,30619,Released,7/16/2008,1004558444,152,False,185000000,tt0468569,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f...",185.0,1004.56
3,19995,Avatar,7.573,29815,Released,12/15/2009,2923706026,162,False,237000000,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ...",237.0,2923.71
4,24428,The Avengers,7.710,29166,Released,4/25/2012,1518815515,143,False,220000000,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,98.082,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com...",220.0,1518.82

In [82]:
movies['profit'] = movies['revenue'] > movies['budget']

In [84]:
movies.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,imdb_id,original_language,original_title,overview,popularity,tagline,genres,production_companies,production_countries,spoken_languages,keywords,budget_millions,revenue_millions,profit
0,27205,Inception,8.364,34495,Released,7/15/2010,825532764,148,False,160000000,tt1375666,en,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc...",160.0,825.53,True
1,157336,Interstellar,8.417,32571,Released,11/5/2014,701729206,169,False,165000000,tt0816692,en,Interstellar,The adventures of a group of explorers who mak...,140.241,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,...",165.0,701.73,True
2,155,The Dark Knight,8.512,30619,Released,7/16/2008,1004558444,152,False,185000000,tt0468569,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f...",185.0,1004.56,True
3,19995,Avatar,7.573,29815,Released,12/15/2009,2923706026,162,False,237000000,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ...",237.0,2923.71,True
4,24428,The Avengers,7.710,29166,Released,4/25/2012,1518815515,143,False,220000000,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,98.082,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com...",220.0,1518.82,True

In [120]:
movies_revenue = movies.loc[(df['budget'] > 0) & (df['revenue']  > 0)]

In [122]:
movies_revenue.shape

(14165, 24)

In [124]:
movies_revenue['profit'].value_counts()

profit
True     8508
False    5657
Name: count, dtype: int64